/* general */

ul {
  padding: 15px;
}

.text-bold {
  font-weight: 600;
}

.text-small {
  font-size: 10px;
}

.text-gray {
  color: gray;
}

.margin0 {
  margin: 0;
}

.margin5 {
  margin: 5px;
}

.width25 {
  width: 25%;
}

.width50 {
  width: 50%;
}

.padding5 {
  padding: 5px;
}
/* header style */

.banner {
  background-color: rgb(75, 152, 199);
  background-image: url(../img/img/pattern.png);
  background-size: contain;
}

.banner-img {
  width: 200px;
  padding-top: 40px;
}


/* title style */

.link {
  text-decoration: none;
  color: rgb(77, 157, 207);
}


.title {
  margin-bottom: 0;
}

/* images style  */

.images {
  text-align: left;
}

/* table style */
table {
  border-collapse: collapse;
}

.uneven-row {
  background-color: rgb(129, 183, 215);
}

.table-head {
  background-color: rgb(14, 167, 255);
  color: rgb(255, 255, 255);
  text-align: justify;
}

/* footer style */

.image {
  width: 25%;
  height: 200px;
  color: rgb(255, 255, 255);
}

.pc-image {
  background-image: url(../img/img/monitor.jpg);
  background-size: cover;
}

.graph-image {
  background-image: url(../img/img/graph.jpg);
  background-size: cover;
  background-color: black;
}

